@media screen and (max-width: 600px) {

    #slide_container_map {
        display: none;
    }

    #slide_container_tips {
        display: none;
    }

    #slide_container_camion {
        display: none;
    }

    #slide_container_info {
        display: none;
    }

}