body {
    font-family: Arial;
    background-color: Ivory;
}

h1 {
    border: 1px solid #4d3300;
    border-radius: 7px;
    padding: 10px;
    background-color:#ffe6b3;
    text-align: center;
    width: 40%;
    margin: auto;
    margin-top: 80px;
}

h2 {
    text-align: center;
    font-size: 140%;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-classic {
    background-color: #b37700;
    color: white;
    border: 2px solid;
    border-radius: 5px;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    transition: background-color 0.15s;
}

.btn-classic:hover {
    background-color: #996600;
}

#menu {

    position: fixed;
    right: 10px;
    top: 10px;
}

#home {
    position: fixed;
    top: 1px;
    margin: 10px;
}

.banner {
    text-align: center;
}

.buttonBanner {
    margin-right: 15px;
    margin-left: 15px;
    background-color: #b37700;
    color: white;
    border: 2px solid;
    border-radius: 25px;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    transition: background-color 0.15s;
}

.buttonBanner:hover {
    background-color: #996600;
}

.imgclassic {
    display: block;
    margin: auto;
    width: 30%;
    height: 30%;
}

.quoteimg {
    text-align: center;
    font-size: 80%;
}

video {
    display: block;
    margin: auto;
    width: 30%;
    height: 30%;
}

pre {
    text-align: center;
    font-family: Arial;
}

#creator {
    position: fixed;
    right: 10%;
    bottom: 5px;
    font-size: 75%;
}