body {
    background-color: SeaShell;
}

h1 {
    text-align: center;
    margin: 10px;
}

h2 {
    text-align: center;
    font-size: 140%;
}

#menu {

    position: fixed;
    right: 10px;
    top: 10px;
}

#home {
    margin: 10px;
}

.banner {
    text-align: center;
}

.buttonBanner {
    margin-right: 15px;
    margin-left: 15px;
}

#creator {
    position: fixed;
    right: 50%;
    bottom: 5px;
    font-size: 75%;
}