{% extends "layout.html" %}

{% block title %}Wallets{% endblock %}

{% block main %}

    <table class="table">
        <thead>
            <tr>
                <th>Names</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Current price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for row in wallet %}
                <tr>
                    <td>{{ row.name }}</td>
                    <td>{{ row.symbol }}</td>
                    <td>{{ row.shares }}</td>
                    <td>${{ row.value }}</td>
                    <td>${{ row.total }}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"><b>Cash</b></td>
                    <td class="no-border">${{ cash }}</td>
                </tr>
                <tr>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"><b>TOTAL</b></td>
                    <td class="no-border">${{ totaltotal }}</td>
                </tr>
        </tbody>
    </table>

{% endblock %}