{% extends "layout.html" %}

{% block title %}Wallets{% endblock %}

{% block main %}

    <table class="table">
        <thead>
            <tr>
                <th>Names</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Current price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for row in wallet %}
                <tr>
                    <td>{{ row.name }}</td>
                    <td>{{ row.symbol }}</td>
                    <td>{{ row.shares }}</td>
                    <td>{{ row.value }}</td>
                    <td>{{ row.total }}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Cash</b></td>
                    <td>ici l'argent</td>
                </tr>
                <div class="no-border">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>TOTAL</b></td>
                    <td>le TOTAL</td>
                </tr>
                </div>
        </tbody>
    </table>

{% endblock %}