{% extends "layout.html" %}

{% block title %}Wallets{% endblock %}

{% block main %}

    <div class="left">
    <b>Cash owned: </b>
    <br>
    <b>Total value: </b>
    </div>

    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Names</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Current price</th>
                <th>Total prices</th>
            </tr>
        </thead>
        <tbody>
            {% for row in wallet %}
                {% for td in row %}
                <td>{{ wallet.name }}</td>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}