{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="regUser" name="username" placeholder="Name" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="regPassword" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="regConfirm" name="regConfirm" placeholder="Confirmation" type="password">
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}