{% extends "layout.html" %}

{% block title %}Sell{% endblock %}

{% block main %}

    <form action="/sell" method="post">
        <select class="form-custom" autocomplete="off" autofocus name="symbol">
            <option value="empty">Please choose a symbol</option>
            {% for i in symbol %}
                <option value={{ i.symbol }}>{{ i.symbol }}</option>
            {% endfor %}
        </select>
        <button class="button-custom"type="submit">Sell</button>
    </form>

{% endblock %}